@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Ranchers&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ranchers', cursive;

}

body{
    background-color: #BDE0FE;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 2em;
}

main{
    background-color:#DAD7CD;
    display: flex;
    padding: 1.5em;
    width: 740px;
    border-radius: 10px;
    height: 360px;
}

.bill-calc{
    width: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.input{
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 10px;
    padding: 0 5px;
    background-color: white;
    text-align: end;
    border-radius: 5px;
    height: 35px;
    width: 90%;
    outline: none;
    border: 1px solid white;
}
.input:focus{
    border: 1px solid #FFB4A2;
}
.bill{
    background-image: url(./images/icon-dollar.svg);
    margin-bottom: 2em;
    font-size: 18px;
    color: #6D6875;
}
.bill::placeholder{
    font-size: 18px;
    color: #6D6875;
}
.bill-error{
    font-size: 13px;
    color: red;
    position: absolute;
    right: 3em;
    top: 0;
}

.people-error{
    font-size: 13px;
    color: red;
    position: absolute;
    right: 3em;
    top: 0;
}

label{
    font-size: 13px;
    color: #2B2D42;
    margin-bottom: 5px;
}
.label-bill{
    font-size: 14px;
    color: #DAD7CD;
    margin-bottom: 5px;
}
.tip-amount{
    font-size: 35px;
}
.tip-total{
    font-size: 35px;
}

.person{
    color: #FFB4A2;
}
.options{
    margin-top: 0.5em;
}
#select-options{
    font-size: 17px;
    color: #2B2D42;
    border-radius: 5px;
    width: 100px;
    border: 1px solid white;
    height: 24px;
    margin-top: 1em;
    cursor: pointer;
    outline: none;
}

#select-options:focus{
    border: 1px solid #FFB4A2;
}

option{
    border: 1px solid #FFB4A2;
}

.custom{
    color: #344E41;
    background-color: white;
    border-radius: 5px;
    width: 150px;
    border: 1px solid white;
    height: 25px;
    cursor: pointer;
    font-size: 17px;
    outline: none;
    text-align: end;
    padding: 0 10px;
    margin-left: 10px;
}
.custom::placeholder{
    text-align: center;
}
.custom:focus{
    border: 1px solid #FFB4A2;
}
.tip-people{
    margin-top: 2em;
    position: relative;
}
.people-amount{
    background-image: url(./images/icon-person.svg);
    color: #6D6875;
    font-size: 18px;
}
.people-amount::placeholder{
    color: #6D6875;
}
.tip-result{
    background-color: hsl(183, 100%, 15%);
    color:rgb(252, 241, 241);
    border-radius: 10px;
    width: 350px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.amount-show{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
strong{
    color: hsl(172, 67%, 45%);
}

#reset{
    background-color: hsl(172, 67%, 45%);
    border: 1px solid hsl(172, 67%, 45%);
    width: 100%;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 17px;
    color: hsl(183, 100%, 15%);
}

#reset:hover{
    filter: brightness(1.3);
}
@media screen and (max-width: 750px) {
    .container{
        height: 100%;
    }

    main {
        flex-direction: column;
        width: 95%;
        height: fit-content;
    }

    .bill-calc{
        width: 100%;
    }
    .options{
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 5px;
        padding: 0 0.5em;
    }

    option{
        width: 40%;
    }
    #select-options{
        width: 40%;
    }
    .custom{
        width: 50%;
        margin-bottom: 15px;
        margin-top: 20px;

    }
    .input{
        width: 100%;
        height: 45px;
    }
    .tip-result{
        margin-top: 2em;
        width: 100%;
    }
}